ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}
ul li{
    padding: 50px;
}

p{
    font-size: 15px;
    font-family: monospace;
    text-align: center;
}

button {
    font-size: 20px;
    font-family: monospace;
    padding: 10px;
    border-style: none;
    background-color: rgb(188, 143, 143);
    color: white;
    position: absolute;
    right: 10px;
}